In [1]:
import json

In [2]:
with open('student_details.json', 'r') as file:
    data = json.load(file)

print(data)

{'student': {'name': 'John Doe', 'roll_number': '2024001', 'section': 'A', 'department': 'Computer Science', 'gender': 'Male', 'phone_number': '+977-9841234567', 'email_id': 'john.doe@example.com', 'semester': '5th', 'year': '2024', 'address': {'city': 'Kathmandu', 'country': 'Nepal'}, 'subjects': ['Data Structures', 'Database Management', 'Web Development', 'Algorithms'], 'cgpa': 3.75}}

In [3]:
import pandas as pd 

df = pd.read_json('student_details.json')
df.head()

df.loc['percentage'] = (df.loc['cgpa'] * 100)
df.to_json('student_details.json', orient='records', lines=True)

In [ ]:
import student

ModuleNotFoundError: No module named 'excel'

In [4]:
import pandas as pd

df = pd.read_csv('sudent.xlsx')
df.head()

,name,roll_number,section,department,gender,phone_number,email_id,semester,year,address,subjects,cgpa
0,ritesh,2024001,A,Computer Science,Male,9841234567,john.doe@example.com,5th,2024,NaN,NaN,NaN
1,kapil,2024002,A,Computer Science,Male,9841234567,john.doe@example.com,5th,2024,NaN,NaN,NaN